$pink: #FE205A;
$violet: #43129B;
$dark-blue: #121d47;
$light-gray: #F0F6F1;

/* Common styles for elements */
main .research-dir-tab,
div .scroll-button {
  background-color: $light-gray;
  color: $dark-blue;
}

.research-accordion-button, .under_development {
  color: $violet;
}

.under_development {
  height: 80vh;
}

.under_development p {
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
}

main .research-heading,
.school-tab {
  color: $pink;
}

#paper-textbook .research-card-heading {
  color: $violet;
}

main .research-heading,
main .research-dir-tab,
.school-tab,
#paper-textbook .research-card-heading,
.research-accordion-button,
div .scroll-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.school-tab {
  appearance: none;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}

main .research-heading {
  text-transform: uppercase;
}

.research-card-text, .research-accordion-text {
  color: $dark-blue;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
}

.research-card-text li {
  padding: 0;
}

div .scroll-button {
  line-height: 1;
  text-align: center;
  white-space: normal;
  user-select: none;
}

/* Styles for under 480px screens */
@media (min-width: 0px) {
  main .research-heading {
    font-size: 0.875rem;
    line-height: 2rem;
  }

  main .research-dir-tab {
    font-size: 0.75rem;
    line-height: 1rem;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .school-tab {
    line-height: 1rem;
    min-width: 2rem;
    height: 1.6rem;
  }

  #paper-textbook {
    padding-top: 0.25rem;
  }

  #paper-textbook .research-card-heading {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-right: 0.5rem;
  }

  .research-card-text, .research-card-text li {
    font-size: 0.75rem;
    line-height: 1.05rem;
    word-spacing: 0.1rem;
  }

  .research-card-text {
    padding-bottom: 0.4rem;
  }

  .research-accordion-text {
    font-size: 0.7rem;
    line-height: 1rem;
    padding-bottom: 0.4rem;
    word-spacing: 0.1rem;
  }

  .research-accordion-button, .under_development p {
    font-size: 0.75rem;
    line-height: 1;
  }

  div .scroll-button {
    line-height: 1;
    padding: 0 0.5rem;
  }
}

/* Styles for 480px-768px screens */
@media (min-width: 480px) {
  main .research-heading {
    font-size: 0.85rem;
    line-height: 2rem;
  }

  main .research-dir-tab {
    font-size: 0.8rem;
    line-height: 1rem;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .school-tab {
    line-height: 1rem;
    min-width: 2rem;
    height: 1.6rem;
  }

  #paper-textbook {
    padding-top: 0.3rem;
  }

  #paper-textbook .research-card-heading {
    font-size: 0.85rem;
    line-height: 1rem;
    padding-right: 0.5rem;
  }

  .research-card-text, .research-card-text li {
    font-size: 0.8rem;
    line-height: 1.2rem;
    word-spacing: 0.2rem;
  }

  .research-card-text {
    padding-bottom: 0.5rem;
  }

  .research-accordion-text {
    font-size: 0.75rem;
    line-height: 1.1rem;
    padding-bottom: 0.4rem;
    word-spacing: 0.2rem;
  }

  .research-accordion-button, .under_development p {
    font-size: 0.85rem;
    line-height: 1;
  }

  div .scroll-button {
    line-height: 1;
    padding: 0 0.5rem;
  }
}

/* Styles for 768px-992px screens */
@media (min-width: 768px) {
  main .research-heading {
    font-size: 0.9rem;
    line-height: 2rem;
  }

  main .research-dir-tab {
    font-size: 0.9rem;
    line-height: 1;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .school-tab {
    line-height: 1;
    min-width: 2rem;
    height: 1.8rem;
  }

  #paper-textbook {
    padding-top: 0.4rem;
  }

  #paper-textbook .research-card-heading {
    font-size: 0.9rem;
    line-height: 1.15rem;
    padding-right: 1rem;
  }

  .research-card-text, .research-card-text li {
    font-size: 0.9rem;
    line-height: 1.3rem;
    word-spacing: 0.3rem;
  }

  .research-card-text {
    padding-bottom: 0.5rem;
  }

  .research-accordion-text {
    font-size: 0.85rem;
    line-height: 1.15rem;
    padding-bottom: 0.4rem;
    word-spacing: 0.25rem;
  }

  .research-accordion-button, .under_development p {
    font-size: 0.9rem;
    line-height: 1;
  }

  div .scroll-button {
    line-height: 1;
    padding: 0 0.5rem;
  }
}

/* Styles for 992px-1280px screens */
@media (min-width: 992px) {
  main .research-heading {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 0.35rem;
  }

  main .research-dir-tab {
    font-size: 1rem;
    line-height: 1;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .school-tab {
    line-height: 1;
    min-width: 2rem;
    height: 2rem;
  }

  #paper-textbook {
    padding-top: 0.5rem;
  }

  #paper-textbook .research-card-heading {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-right: 1rem;
  }

  .research-card-text, .research-card-text li {
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 0.4rem;
  }

  .research-card-text {
    padding-bottom: 0.5rem;
  }

  .research-accordion-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding-bottom: 0.4rem;
    word-spacing: 0.3rem;
  }

  .research-accordion-button, .under_development p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  div .scroll-button {
    line-height: 1;
    padding: 0 0.5rem;
  }
}

/* Styles for 1280px+ screens */
@media (min-width: 1280px) {
  main .research-heading {
    font-size: 1.2rem;
    line-height: 3rem;
  }

  main .research-dir-tab {
    font-size: 1.1rem;
    line-height: 1.1rem;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .school-tab {
    line-height: 1.1rem;
    min-width: 2.5rem;
    height: 2.5rem;
  }

  #paper-textbook {
    padding-top: 0.5rem;
  }

  #paper-textbook .research-card-heading {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  .research-card-text, .research-card-text li {
    font-size: 1.2rem;
    line-height: 1.8rem;
    word-spacing: 0.4rem;
  }

  .research-card-text {
    padding-bottom: 0.625rem;
  }

  .research-accordion-text {
    font-size: 1.1rem;
    line-height: 1.45;
    padding-bottom: 0.625rem;
    word-spacing: 0.4rem;
  }

  .research-accordion-button, .under_development p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  div .scroll-button {
    line-height: 1;
    text-align: center;
  }
}