$pink: #FE205A;
$violet: #43129B;
$dark-blue: #121d47;
$light-gray: #F0F6F1;

.news {
    padding-top: 10vh;
    min-height: 70vh;
    color: $violet;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
}

/* Styles for screens under 480px */
@media (min-width: 0px) {
}

/* Styles for 480px-768px screens */
@media (min-width: 480px) {
}

/* Styles for 768px-992px screens */
@media (min-width: 768px) {
}

/* Styles for 992px-1280px screens */
@media (min-width: 992px) {
}

/* Styles for 1280px+ screens */
@media (min-width: 1280px) {
}