$pink: #FE205A;
$violet: #43129B;
$dark-blue: #121d47;
$light-gray: #F0F6F1;


/* Styles for 1280px+ screens */
@media (min-width: 1280px) {

    main {
      width: 64vw;
      margin: 8.875rem 18vw 0 18vw;
    }

    main h1 {
      color: $pink;
      font-family: PT Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1.6rem;
      text-transform: uppercase;
      text-align: left;
    }

    article h2 {
      color: $violet;
      text-align: left;
      font-family: PT Sans;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3rem;
    }

    .nav-staff {
      color: $pink;
      font-family: PT Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.1em;
      line-height: 3rem;
      text-transform: uppercase;
      text-align: left;
      padding: 0.625rem 0;
    }

    .staff-name-tab {
        color: $pink;
        font-family: PT Sans;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem;
        margin-right: 3rem;
        text-align: left;
        text-transform: uppercase;
    }

    .staff-member {
        text-align: left;
        color: $dark-blue;
        font-family: 'PT Serif', serif;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3rem;
        word-spacing: 0.15rem;
    }

    .staff-nav {
      width: 100%;
      margin: auto;
      padding-bottom: 0.75rem;
    }

    nav a {
      color: $dark-blue;
      font-family: PT Sans;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      text-align: left;
    }

    .staff-article p {
      color: $dark-blue;
      font-family: 'PT Serif', serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8rem;
      padding-bottom: 0.625rem;
      text-align: justify;
      word-spacing: 0.4rem;
    }

    .pub-type-tab {
      background-color: $light-gray;
      color: $dark-blue;
      font-family: "PT Sans", sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1;
      text-align: left;
      align-content: flex-start;
      flex-wrap: wrap;
      max-width: fit-content;

    }

    li {
      padding-bottom: 0.625rem;
      text-align: justify;
    }

    ul, ol {
      list-style-position: inside;
    }
}