/* Common styles for elements */
ol, ul {
  list-style-position: inside;
}

/* Styles for screens under 480px (Base) */
@media (max-width: 479px) {
  main {
    width: 90vw;
    margin: 0 5vw;
  }
}

/* Styles for 480px-768px screens (Small) */
@media (min-width: 480px) and (max-width: 767px) {
  main {
    width: 80vw;
    margin: 0 10vw;
  }
}

/* Styles for 768px-992px screens (Medium) */
@media (min-width: 768px) and (max-width: 991px) {
  main {
    width: 80vw;
    margin: 6.3475rem 10vw 0 10vw;
  }
}

/* Styles for 992px-1280px screens (Large) */
@media (min-width: 992px) and (max-width: 1279px) {
  main {
    width: 64vw;
    margin: 6.835rem 18vw 0 18vw;
  }
}

/* Styles for 1280px+ screens (XLarge) */
@media (min-width: 1280px) {
  main {
    width: 64vw;
    margin: 8.875rem 18vw 0 18vw;
  }
}